<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis01.dao.DeptMaaper">
<!-- select节点根据ID查询 -->
  <!-- 设置jcbcType 说明此字段可以为NULL 反之不能为NULL-->
  <!-- VARCHAR INTEGER DOUBLE DATE -->
  <insert id="addDept" parameterType="Dept">
   insert into DEPT(DEPTNO,DNAME,LOC)
   values(#{deptno},#{dname,jdbcType=VARCHAR},#{loc})
  </insert>
 <!-- 映射结果集 -->
  <resultMap type="Dept" id="dept-result">
    <id property="deptno" column="DEPTNO"/>
    <result property="dname" column="DNAME" />
    <result property="loc" column="LOC"/>
  </resultMap>
  
  <!-- 查询所有 -->
  <!-- resultMap 引用映射结果集 -->
  <select id="findAll" resultMap="dept-result">
     select DEPTNO,DNAME,LOC from DEPT
  </select>
  
  <select id="findById" parameterType="int" resultType="Dept">
     select DEPTNO,DNAME,LOC from DEPT
     where DEPTNO=#{deptno}
  </select>
  
  <update id="updateDept" parameterType="Dept">
     update DEPT 
     set DNAME = #{dname},LOC = #{loc} 
     where DEPTNO =#{deptno}
  </update>
  
  <delete id="deleteDept" parameterType="int">
    delete DEPT
    where DEPTNO = #{deptno} 
  </delete>
</mapper>